<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.tmall.admin.content.dao.persist.mapper.ArticleMapper">
    <!--
      //通过文章分类id去查询文章分类名称，联合article表和category表
    //select distinct a.category_name from content_article a join
    //    content_category c on a.category_id=c.id where a.id=1;
    String getCategoryName(Long categoryId);
    -->
    <select id="getCategoryName" resultType="String">
        select distinct a.category_name from content_article a join
              content_category c on a.category_id=c.id where a.id=#{categoryId};
    </select>

    <!--
     //文章vo的list的展示
    List<ArticleListItemVO> listAllArticles();
    -->
    <select id="listAllArticles" resultType="cn.tedu.tmall.admin.content.pojo.vo.ArticleListItemVO">
        select id, author_id, author_name, category_id, category_name, title, brief, cover_url, keywords, ip, sort, up_count, down_count, click_count, comment_count,
               check_state, is_display, is_recommend from content_article
    </select>


</mapper>
